<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
  <link href="{{site.url}}/assets/style.css" rel="stylesheet">
  {%- include custom-head.html -%}
  <title>{{ page.title }}</title>
</head>
<body>
  <header>
    <a href="{{site.url}}">Home</a>
  </header>
  <main>
    {{ content }}
  </main>
</body>
</html>
